@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /* display: none; */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rgba(210, 210, 210, 1);
}